@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Wehmeier Music Service's Home Page</h1>
    <p>This page will serve as the welcome/landing page for the website.</p>
</div>
