@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Wehmeier Music Service's Self-Scheduling App!</h1>
    <p>Here, any customer will be able to schedule themselves for service based on the availability of WMS.</p>
</div>
