@model Capstone.Models.PendingAppointment

@{
    ViewData["Title"] = "ScheduleService";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>ScheduleService</h1>

<h4>PendingAppointment</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="ScheduleService">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Phone" class="control-label"></label>
                <input asp-for="Phone" class="form-control" />
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StreetAddress" class="control-label"></label>
                <input asp-for="StreetAddress" class="form-control" />
                <span asp-validation-for="StreetAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="City" class="control-label"></label>
                <input asp-for="City" class="form-control" />
                <span asp-validation-for="City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="State" class="control-label"></label>
                <input asp-for="State" class="form-control" />
                <span asp-validation-for="State" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ZipCode" class="control-label"></label>
                <input asp-for="ZipCode" class="form-control" />
                <span asp-validation-for="ZipCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PianoMake" class="control-label"></label>
                <input asp-for="PianoMake" class="form-control" />
                <span asp-validation-for="PianoMake" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PianoConfiguration" class="control-label"></label>
                <select asp-for="PianoConfiguration" asp-items="PianoConfigurations.Configurations">
                <option value="">Choose One</option>
                </select>
                <span asp-validation-for="PianoConfiguration" class="text-danger"></span>
            </div>
            <div class="form-check">
                <label asp-for="IncludedServices" class="control-label"></label>
                @foreach (var service in PianoServices.Services)
                {
                    <br />
                    <input name="IncludedServices" type="checkbox" value="@service.Value" id="defaultCheck1">
                    <label class="form-check-label" for="defaultCheck1">
                        @service.Text
                    </label>
                }
                <span asp-validation-for="IncludedServices" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CustomerNotes" class="control-label"></label>
                <input asp-for="CustomerNotes" class="form-control" />
                <span asp-validation-for="CustomerNotes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ServicedBefore" class="control-label"></label>
                <input asp-for="ServicedBefore" class="form-control" />
                <span asp-validation-for="ServicedBefore" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PreferredAppointmentDate" class="control-label"></label>
                <input asp-for="PreferredAppointmentDate" class="form-control" />
                <span asp-validation-for="PreferredAppointmentDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Submit Service Request" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to Home</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
