@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Punkin's Secret Admin Page</h1>
    <p>
        <span style="color: red">This page should only be visible to someone logged in as an administrator!</span><br /><br />
        This page will populate with a table of all customers in the database by default. The ability to search for, view, and edit customer details will flow intuitively from this table.
    </p>
</div>
